chromadb
requests
fastapi
uvicorn
python-dotenv
psycopg2-binary
sqlalchemy
pydantic
pydantic-settings
pydantic-core
python-multipart
alembic
pathvalidate
langchain
langchain-community
pymupdf
langchain-text-splitters
langchain-openai
pathvalidate